<mat-card class='one-post'>
    <mat-card-header>
        <mat-card-title (click)='toUserProfile()'>
            by {{postSummary.post.author.username}}
        </mat-card-title>
        <mat-card-subtitle>
            {{postSummary.post.created | date:'H:mm d MMM, yyy'}}
        </mat-card-subtitle>

            <span class='spacer'></span>

            <button mat-icon-button [matMenuTriggerFor]='menu'>
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)='edit()'
                    [disabled]="postSummary.post.author.id == currUser.id ? 'false' : 'true'">
                    <mat-icon>create</mat-icon>
                    <span>edit</span>
                </button>
                <button mat-menu-item (click)='delete()'
                    [disabled]="postSummary.post.author.id == currUser.id ? 'false' : 'true'">
                    <mat-icon>delete_forever</mat-icon>
                    <span>delete</span>
                </button>
            </mat-menu>
    </mat-card-header>

    <img mat-card-image src='{{postSummary.image}}' (click)='getDetails()' alt='post photo'>
    <mat-card-content>
        <p>
            {{postSummary.post.content}}
        </p>
    </mat-card-content>

    <mat-card-actions>
        <button mat-icon-button color='accent' (click)='onLike()'>
            <mat-icon>{{postSummary.meLiked ? 'favorite':'favorite_border'}}</mat-icon>
        </button>
        <span>{{postSummary.likes}}</span>

        <button mat-icon-button class='comment'>
            <mat-icon>comment</mat-icon>  
        </button>
        <span>{{postSummary.comments}}</span>
    </mat-card-actions>
</mat-card>
