<div *ngIf='loading' class='loading'>
    <img src='assets/logo/746.gif' alt='loading...'>
</div>

<div class="form-login" *ngIf='!loading'>
    <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
        <mat-form-field>
            <mat-label>username</mat-label>
            <input matInput type="text" formControlName='username' name="username">
        </mat-form-field>
    
        <mat-form-field>
            <mat-label>password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" name="password">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
    
        <button mat-raised-button color="warn" type="submit" [disabled]='loginForm.invalid'>
            log in
        </button>
    </form>
    <p class='new-acc'>
        <a routerLink='reg'><i>Create new account</i></a>
    </p>
</div>
