h1
{
    margin-top: 3%;
    color: royalblue;
    margin-left: 40%;
}
.form-container
{
    display: flex;
    width: 100%;
    justify-content: center;
}
form
{
    font-size: 18px;
    width: 30%;
    margin-top: 3%;
}
mat-form-field
{
    width: 100%;
}
.sign-up
{
    margin-left: 83%;
}
.pass-error
{
    color: tomato;
}