<div class='container'>
    <h1 class='name'>
      {{userProfile?.username}}<br>
      <mat-icon>south_east</mat-icon>
    </h1>
    <div (click)='loadAvatar()' (mouseover)='onMouseOver($event)' *ngIf='userProfile' class='avatar' [style]='avatarUrl()'>
    </div>

    <div matRipple class='about'>
      <div *ngIf='!isGoingEdit' (click)='changeAboutMe()'>
        <h3>About me:</h3>
        <p>{{userProfile?.userInfo.aboutMe}}</p>
      </div>

      <div *ngIf='isGoingEdit' class="edit-form">
      <mat-form-field appearance="fill">
        <mat-label>About me</mat-label>
        <textarea [(ngModel)]='aboutMe' matInput>
        </textarea>
      </mat-form-field>

      <div class='user-profile-buttons'>
       <div style="margin-left: auto;">
        <button (click)='onCancel()' mat-raised-button color="warn">Cancel</button>
        <button (click)='saveChanges()' mat-raised-button color="primary">Save</button>
       </div>
      </div>  
      </div>
    </div>

    <input type='file' #avatarInput style='display: none'
              (change)='showPreview($event)'>
     
</div>
