.container
{
    padding-bottom: 1.5%;
    
}
.name
{
    font-family: cursive;
    font-size: 24px;
    margin-left: 30%;
}
.name>mat-icon
{
    margin-left: 25px;
}
.avatar
{
  width: 350px;
  height: 350px;
  border-radius: 50%;
  background-size: cover;
  margin: auto;
}
.about
{
    width: 50%;
    margin: 25px auto;
    background-color: white;
    padding: 10px;
}
mat-form-field{
    width: 100%;
}
.user-profile-buttons{
    display: flex;
    width: 100%;
}
.user-profile-buttons>div>button{
    margin-left: 1rem;
}

