.details-nav{
    display: flex;
    width: 100%;
}
.details-nav>div{
    display: flex;
    justify-content: center;
    width: 100%;
}
.details-nav>button{
    margin-left: auto;
}
.details-container{
    height: 100%;
    width: 100%;
    display: flex;

}
.mat-dialog-content{
    max-height: 615px;
}
.img-div-dialog{
    width: 75%;
    height: 100%;
}
.img-div-dialog>img{
    max-height: 100%;
    max-width: 100%;
    display: block;
    margin: auto;
    border-radius: 3%;
}
.details-actions-container{
    width: 25%;
}
.ava-sec{
    display: flex;
}
.ava-sec>button{
    margin: auto;
}
.ava-sec>div{
    display: contents;
}
.ava-sec>div>span{margin: auto;}
.details-ava{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}
.post-content{
    padding-left: 1rem;
}
.comments{
    height: 100%;
    margin-top: 1.5rem;
    padding-left: 1rem;
    
    height: 375px;
    overflow-y: auto;
}
mat-form-field{
    width: 100%;
}
.comments-form{
    display: grid;
}

.comments-form>button{
    margin-left: auto;
}
