<div class='post-details'>

    <div *ngIf='loading' class='loading'>
        <img src='assets/logo/746.gif' alt='loading...'>
    </div>    

    <div class='main-div' *ngIf='postSummary'>
        
        <div class='image-place' id='inner'>
            <img [src]='postSummary.image' alt="...">
        </div>
    
        <div class='actions-block'>
            <div class='comment-block'>
                <div *ngFor='let comment of postSummary.post.comments' class='comment'>
                    <span>{{comment.author.username}}:</span>
                    <p>{{comment.content}}</p>
                    <hr>
                </div>
            </div>
    
            <div class='form-div'>
                <div>
                    <mat-form-field id='control'>
                        <input matInput type='text' [(ngModel)]='comment'
                            placeholder='leave a comment' tabindex='-1'>
                    </mat-form-field>
                    
                    <button mat-raised-button (click)='addComment()'
                        id='control' tabindex='-1' class='send-button'>
                        Send
                    </button>
                </div>
            </div>
        </div>
    </div>
    
    <div class='bottom' *ngIf='postSummary'>
    
        <div class='text-content'>
            {{postSummary.post.content}}
        </div>
    
        <div #likeButton class='like'>
            <button mat-icon-button color='warn' tabindex='-1'
                (click)='addLike()'>
                <mat-icon>{{postSummary.meLiked ? 'favorite':'favorite_border'}}</mat-icon>
            </button>
                {{postSummary.likes}}
        </div>
        <likes-popover [users]='postSummary.post.likes'
			[source]='likeButton'>
		</likes-popover>
    </div>
</div>