@import '@angular/material/prebuilt-themes/indigo-pink.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: Azure;}

.spacer
{
    flex: 1 1 auto;
}
.loading
{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top:10%;
}
::-webkit-scrollbar
{
	background-color: LightSlateGray;
	width: 10px;
}
::-webkit-scrollbar-thumb
{
	background-color: #3F51B5;
	border-radius: 10px;
}
::-webkit-scrollbar-track
{
	border-radius: 10px;
}