<div class='dialog'>
    <button mat-icon-button tabindex='-1' mat-dialog-close class='close-button'>
        <mat-icon>close</mat-icon>
    </button>

    <div class='form-div'>
        <input type='file' #imageInput style='display: none'
                    (change)='imageChoosen($event)'>

        <form [formGroup]='post'>

            <mat-form-field>
                <textarea cdkTextareaAutosize='true' matInput
                    placeholder='share your thoughts' formControlName='content'>
                </textarea>
            </mat-form-field>

            <div class='preview' *ngIf='imagePreview'>
                <img [src]='imagePreview' height='300'>
            </div>

            <div class='buttons' *ngIf='!isSending'>
                <button mat-icon-button (click)='chooseImage()' type='button' color='primary'>
                    <mat-icon>add_a_photo</mat-icon>
                </button> 
                <button mat-raised-button (click)='send()' *ngIf='!isEdit'
                    color='primary' type='button' class='send-button' [disabled]='post.invalid'>
                    Send
                </button>
                <button mat-raised-button (click)='edit()' *ngIf='isEdit'
                    color='primary' type='button' class='send-button' [disabled]='post.invalid'>
                    Save
                </button>
            </div>
            <mat-spinner *ngIf='isSending' style="margin-left: 75%;"
				diameter='50' color='primary'>
            </mat-spinner>
        </form>
    </div>
</div>
