.post-container
{
    align-content: center;
}
.one-post
{
    width: 35%;
    margin: 1% auto;
}
.one-post>img
{
    max-height: 600px;
    cursor: pointer;
}
.comment
{
    margin-left: 30%;
}
.more
{
    max-width: 40%;
    margin: 1% auto;
}
.more>button
{
    margin-left: 90%;
}