<div class='post-container'>
    <mat-card class='one-post' *ngFor='let post of posts'>
        <mat-card-header>
            <mat-card-title>Shiba Inu</mat-card-title>
            <span class='spacer'></span>
            <button mat-icon-button [matMenuTriggerFor]='menu'>
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)='edit(post)'>
                    <mat-icon>create</mat-icon>
                    <span>edit</span>
                </button>
                <button mat-menu-item>
                    <mat-icon>delete_forever</mat-icon>
                    <span>delete</span>
                </button>
            </mat-menu>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-icon-button color='accent' (click)='onLike()'>
              <mat-icon>{{liked ? 'favorite':'favorite_border'}}</mat-icon>
          </button>
          <span>{{post}}</span>
          <button mat-icon-button class='comment'>
              <mat-icon>comment</mat-icon>  
          </button>
          <span>13</span>
        </mat-card-actions>
    </mat-card>

    <div class='more'>
        <button mat-raised-button color='primary'>more</button>
    </div>
</div>
