<mat-toolbar color='primary'>
    <img src="assets/logo/logo.png" alt="???" (click)='home()'>
    <span class='title'>Welcome to Phots Up</span>
    <span class="spacer"></span>

    <button mat-icon-button [matMenuTriggerFor]='menu'>
        <mat-icon>menu</mat-icon>
    </button>

    <mat-menu #menu='matMenu'>
        <button mat-menu-item (click)='toProfile()' [disabled]='currUser == null'>
            <mat-icon>account_circle</mat-icon>
            <span>my profile</span>
        </button>
        <button mat-menu-item (click)='signIn()' [disabled]='currUser != null'>
            <mat-icon>wb_cloudy</mat-icon>
            <span>sign in</span>
        </button>
        <button mat-menu-item (click)='logout()' [disabled]='currUser == null'>
            <mat-icon>login</mat-icon>
            <span>log out</span>
        </button>
    </mat-menu>
</mat-toolbar>
