<mat-toolbar color='primary'>
    <img src="assets/logo/logo.png" alt="???" (click)='home()'>
    <span class='title'>Welcome to Phots Up</span>
    <span class="spacer"></span>

    <button mat-icon-button [matMenuTriggerFor]='menu'>
        <mat-icon>menu</mat-icon>
    </button>

    <mat-menu #menu='matMenu'>
        <button mat-menu-item>
            <mat-icon>account_circle</mat-icon>
            <span>create new account</span>
        </button>
        <button mat-menu-item disabled='{{!loggedIn}}'>
            <mat-icon>login</mat-icon>
            <span>log out</span>
        </button>
    </mat-menu>
</mat-toolbar>
